@import "./styles/variables.css";

.navbar-container {
    /* background-color: ; */

    background-color: transparent;
    backdrop-filter: blur(8px);
    position: sticky;
    top: 1.5rem;
    display: flex;
    flex-direction: row;
    border: 2px solid var(--light-grey);
    border-radius: 100px;
    justify-self: center;
    width: 89vw;
    height: 6vh;
    /* padding: 5px; */
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 1.5rem;


}


@font-face {
    font-family: "RobotoVariable";
    src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    /* allows any weight from ultra-thin to black */
    font-stretch: 75% 125%;
    /* allows condensed → super wide */
    font-display: swap;
}

.logo-container {
    display: flex;
    flex-direction: row;
    /* background-color: #ff4500; */
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    width: 9vw;
    /* margin: 4px */
}

.slogan {
    width: 5vw;
    justify-content: space-around;
    /* align-items: center; */
    /* height: 5vh; */
    /* background-color: #ff4500; */
    font-size: 12px;
    font-weight: 900;
    color: var(--black);

}

.burger {
    height: 5vh;
    width: 3vw;
    /* background-color: red; */
}

.navbar {
    width: 35vw;
    /* background-color: red; */
}

.unordered-list {
    /* background-color: var(--orangered); */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
}



.list-item {
    display: inline-block;
    color: var(--light-grey);
    /* background-color: black; */
    padding-left: .625rem;
    padding-right: .625rem;
    /* height: 3vh; */
    border-bottom: 4px solid transparent;
    border-radius: 4px;
    font-family: "RobotoVariable";
    font-size: 16px;
    padding-bottom: 4px;
}

.list-item.scrolled {
    color: black;
}

.list-item:hover {
    color: var(--black);
    border-bottom: 4px solid var(--orangered);
    cursor: pointer;
}

.search-container {
    display: flex;
    flex-direction: row;
    width: 11vw;
    justify-content: space-between;
}

.search {
    color: var(--black);
    font-size: 20px;

}

.search-bg {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--light-grey);
    height: 40px;
    width: 43px;
    border-radius: 50px;
    /* padding-left: 3%; */
}

.subscribe {
    font-family: "RobotoVariable";
    font-weight: 750;
    font-size: 14px;
    border-radius: 25px;
    border-width: 0;
    width: 7vw;
    cursor: pointer;
    background-color: var(--black);
}

.subscribe:hover {
    background-color: var(--orangered);
    border-width: 0;
    animation: pulse 0.6s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}