@import "./styles/variables.css";

#root {
  background-color: rgb(228, 222, 211);
  width: 100vw;
  height: 300vh;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}


@font-face {
  font-family: "RobotoVariable";
  src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

.main-container {
  margin-right: 60px;
  margin-left: 60px;
}

.bgimage-container {
  flex-wrap: wrap;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/Images/hero.png");
  /* height: 110vh; */
  width: 91vw;
  height: 85vh;
  margin: 0 auto;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: baseline; */
  flex-direction: column;
  padding: 2rem 0;
}

.UNLEASH {
  /* background-color: #fff; */
  color: var();
  width: 50%;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  font-family: "Montserrat";
  margin: 1rem;
}

.aroma {
  /* height: auto; */
  width: 35%;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  /* background-color: red; */
  margin: 0rem;
}

.RECIPE {
  font-size: 14px;
  background-color: var(--orangered);
  text-align: center;
  width: 5vw;
  align-self: center;
  border-radius: 15px;
}

.explore-recipes {
  background-color: var(--orange);
  color: var(--black);
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-family: "RobotoVariable";
  font-size: 12px;
  font-weight: 500;
  /* font-stretch: 80; */
}

.card-sec {
  margin-top: 40px;
  background-color: var(--light-blue);
  padding: 45px;
  border-radius: 45px;
}

.card-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 350px
}

.card-sec .right-sec .menu-li {
  display: flex;
  color: var(--black);
  letter-spacing: 0.5px;
  font-family: "RobotoVariable";
  font-weight: 650;
  font-stretch: 85%;
  font-size: 17.5px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 6px;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
}

.card-sec .left-sec {
  align-self: flex-end;
  color: black;
}

.EXPLORE-button {
  font-family: "RobotoVariable";
  font-size: 14px;
  color: var(--white);
  /* border: 1px solid transparent;*/
  border: none;
  background-color: var(--orangered);
  border-radius: 25px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 18px;
}

.our-pallete {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-family: "Montserrat";
  font-weight: 700;
}

.our-pallete-para {
  font-family: "RobotoVariable";
  font-weight: 200;
  color: var(--black);
  font-stretch: 90%;
  font-size: 18px;
  line-height: 25px;
}

.see-more {
  font-family: "RobotoVariable";
  padding: 11px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 40px;
  color: var(--black);
  /* font-size: 14px; */
  outline: none;
}