#root {
  width: 99vw;
  min-height: 400vh;
  height: max-content;
}

.main_div {
  max-width: 1300px;
  padding: 16px;
  margin: auto;
  /* margin-right: 60px;
  margin-left: 60px; */
}

/*Navbar style*/
.navbar-container {
  /* background-color: ; */
  background-color: transparent;
  backdrop-filter: blur(8px);
  position: sticky;
  top: 1.5rem;
  display: flex;
  flex-direction: row;
  border: 2px solid var(--light-grey);
  border-radius: 100px;
  justify-self: center;
  width: 89vw;
  height: 6vh;
  /* padding: 5px; */
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  margin: 1.5rem;
}

.menu_link {
  display: none;
}

.logo-container {
  display: flex;
  flex-direction: row;
  /* background-color: #ff4500; */
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 9vw;
  /* margin: 4px */
}

.slogan {
  font-family: "RobotoVariable";
  width: 5vw;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 900;
  color: var(--black) !important;
}

.navbar {
  width: 35vw;
  /* background-color: red; */
}

.unordered-list {
  /* background-color: var(--orangered); */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}

.list-item {
  display: inline-block;
  color: var(--light-grey);
  padding-left: .625rem;
  padding-right: .625rem;
  font-family: "RobotoVariable";
  font-stretch: 78%;
  font-weight: 650;
  font-size: 16px;
  padding-bottom: 4px;
}

.list-item.scrolled {
  color: black;
}

.list-item:hover {
  color: var(--black);
  border-bottom: 4px solid var(--orangered);
  cursor: pointer;
}

.search-container {
  display: flex;
  flex-direction: row;
  width: 11vw;
  justify-content: space-between;
}

.search {
  color: var(--black);
  font-size: 20px;
}

.search-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  height: 40px;
  width: 43px;
  border-radius: 50px;
  /* padding-left: 3%; */
}

.subscribe {
  font-family: "RobotoVariable";
  font-weight: 750;
  font-size: 14px;
  border-radius: 25px;
  border-width: 0;
  width: 7vw;
  cursor: pointer;
  background-color: var(--black);
}

.subscribe:hover {
  background-color: var(--orangered);
  border-width: 0;
  animation: pulse 0.6s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}



/*Body Style*/


.bgimage-container {
  /* flex-wrap: wrap; */
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/Images/hero.png") center / cover no-repeat;
  width: 100%;
  height: 85vh;
  border-radius: 50px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2rem 0;
  overflow: hidden
}

.bgimage-container .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 63%;
}

.bgimage-container .hero-text .UNLEASH {
  /* background-color: #fff; */
  color: var(--white);
  width: 50%;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  font-family: "MontserratVariable";
  margin: 0rem;
}

.aroma {
  /* height: auto; */
  width: 35%;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  font-family: "RobotoVariable";
  /* background-color: red; */
  margin: 0rem;
}

.RECIPE {
  font-size: 14px;
  background-color: var(--orangered);
  text-align: center;
  width: 5vw;
  align-self: center;
  border-radius: 15px;
}

.explore-recipes {
  background-color: var(--orange);
  color: var(--black);
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-family: "RobotoVariable";
  font-size: 12px;
  font-weight: 500;
  /* font-stretch: 80; */
}

.our-featured {
  border: 1px solid var(--black);
  border-radius: 30px;
  margin: 60px 0px;
  padding: 20px;
}

.our-featured h2 {
  /* background-color: red; */
  font-family: "MontserratVariable", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: var(--light-black);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.respi-card {
  border: 1px solid var(--light-black);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  background-color: var(--grey-white);
  width: 570px;
}

.content-sec {
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

.card-title {
  font-family: "MontserratVariable";
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
  margin: 0%;
}

.card-para {
  font-family: "RobotoVariable";
  font-weight: 300;
  font-size: 16px;
  color: var(--black);
}

.respi-card .veg-respi {
  width: 100%;
}

.respi-card .Tag {
  position: absolute;
  right: 5%;
  top: 45%;
}

.footer-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time {
  font-family: "RobotoVariable";
  font-weight: 500;
  font-size: 12px;
  color: var(--black);
}

.button {
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 25px;
  padding-left: 4%;
  padding-right: 4%;
  font-family: "RobotoVariable";
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
}

.card-sec {
  margin-top: 40px;
  background-color: var(--light-blue);
  padding: 45px;
  border-radius: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.card-sec .right-sec .menu-li {
  display: flex;
  color: var(--black);
  letter-spacing: 0.5px;
  font-family: "RobotoVariable";
  font-weight: 650;
  font-stretch: 85%;
  font-size: 17.5px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 6px;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
}

.card-sec .left-sec {
  align-self: flex-end;
  color: black;
}

.EXPLORE-button-div {
  font-family: "RobotoVariable";
  max-width: fit-content;
  font-size: 14px;
  color: var(--white);
  /* border: 1px solid transparent;*/
  border: none;
  background-color: var(--orangered);
  border-radius: 25px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 18px;
}

.our-pallete {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-family: "MontserratVariable";
  font-weight: 700;
}

.our-pallete-para {
  font-family: "RobotoVariable";
  font-weight: 200;
  color: var(--black);
  font-stretch: 90%;
  font-size: 18px;
  line-height: 25px;
}

.see-more {
  font-family: "RobotoVariable";
  padding: 11px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 40px;
  color: var(--black);
  /* font-size: 14px; */
  outline: none;
}

.cta-section {
  height: 450px;
  width: auto;
  padding: 20px;
  background: url(./assets//Images/footer.png) no-repeat center center/cover;
  display: flex;
  /* flex: 1; */
  justify-content: center;
  margin-top: 48px;
  border-radius: 50px;
}

.cta-section .cta-inner {
  max-width: 700px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.EXPLORE {
  font: "RobotoVariable";
  font-stretch: 85%;
  font-size: 17px;
  font-weight: 550;
  margin-bottom: 0px;

}

.cta-section .cta-inner .jointhefun {
  font-family: "MontserratVariable";
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cta-section .cta-inner .jointhefunpara {
  font-family: "Roboto-Variable";
  font-size: 20px;
  line-height: 1.5rem;
}

.cta-section .cta-inner .input_button {
  background-color: var(--grey-white);
  max-width: 300px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex-direction: row;
  max-height: 20px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 25px;
}


.cta-section .cta-inner .emailaddress {
  background-color: var(--grey-white);
  color: var(--black);
  width: 160px;
  border: none;
  outline: none;
}

.cta-section .cta-inner .SUBSCRIBE {
  background-color: var(--black);
  margin-right: 12px;
  font-size: 11px;
  width: 150%;
  font-family: "RobotoVariable";
  padding: 10px;
  border-radius: 25px;
}

::placeholder {
  color: #9c9c9c;
  font-size: 12px;
  letter-spacing: 0.5px;
  opacity: 1;
}



/* Footer  */




.footer-container {
  background-color: var(--light-black);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-self: center;
  width: 99%;
  height: 15vh;
  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}


.extra-div {
  /* background-color: red; */
  margin-top: 5px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #424242;
}

.social_media_icons {
  /* background-color: orange; */
  /* background-color: red; */
  /* margin-right: 2%; */
  display: flex;
  /* align-self: flex-end; */
  justify-self: flex-end;
  flex-direction: row;
  justify-content: space-between;
  width: 125px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  /* background-color: #ff4500; */
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 9vw;
  /* margin: 4px */
}

.slogan-footer {
  font-family: "RobotoVariable";
  width: 5vw;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 900;
  color: var(--white);
}

.burger {
  height: 5vh;
  width: 3vw;
}

.footer-bar {
  width: 35vw;
  /* background-color: red; */
}

.unordered-list-footer {
  /* background-color: var(--orangered); */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}



.list-item-footer {
  display: inline-block;
  color: var(--light-grey);
  padding-left: .625rem;
  padding-right: .625rem;

  font-family: "RobotoVariable";
  font-stretch: 78%;
  font-weight: 650;
  font-size: 16px;
  padding-bottom: 4px;
}

.list-item-footer:hover {

  border-bottom: 4px solid var(--orangered);
  border-radius: 4px;
}

.footerline {
  font-family: "RobotoVariable";
}