@import "./styles/variables.css";



:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(228, 222, 211) !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  place-items: center;
  min-width: 99vw;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  width: 99vw;
}

@font-face {
  font-family: "MontserratVariable";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: "RobotoVariable";
  src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
}