@media screen and (max-width: 768px) {
    .navbar-container .navbar {
        display: none;
    }

    .navbar-container .search-container {
        display: none;
    }

    .menu_link {
        display: block;
    }

    .bgimage-container .hero-text .UNLEASH {
        font-size: 50px;
    }

    .card-sec {
        grid-template-columns: 1fr;
    }

    .featured-grid {
        grid-template-columns: 1fr;
    }

    .respi-card {
        width: auto;
    }

    .respi-card .Tag {
        top: 40%;
    }

}