:root {
    --orangered: #ff6128;
    /* --grey: #989898; */
    --light-grey: #acacac;
    --black: #000000;
    --light-black: #262552;
    --maroon: #800000;
    --orange: #f29c33;
    --light-blue: #C4E5FC;
    --white: #ffffff;
}